# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.backup
terraform.tfstate.d/

# Ansible runtime
h_volumes/
config/h_volumes/
*.retry

# VS Code
.vscode/

# Logs
*.log

# Sistema
.DS_Store
